/* COLORS */
/* FONTS */
/* IMPORTS */
body {
  background-image: url("../img/woodtexture.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}
main .input {
  margin-top: 100px;
}

.hero-title {
  display: flex;
  justify-content: center;
  background-image: url(../img/barrels-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-title h1 {
  font-family: "nelson", sans-serif;
  font-size: 15em;
  color: #aa9a8c;
}

.input {
  width: 500px;
}

form, #ingredientDiv {
  margin: 0 auto;
  color: #ecd0c6;
  font-family: "monarcha", serif;
  text-shadow: 3px 1px 10px black;
  font-weight: 700;
  font-style: italic;
}
form input, form textarea, #ingredientDiv input, #ingredientDiv textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 2em;
}
form label, form .or, #ingredientDiv label, #ingredientDiv .or {
  font-size: 1.5em;
}
form input[type=number], form input[type=text], form input[type=date], form textarea, #ingredientDiv input[type=number], #ingredientDiv input[type=text], #ingredientDiv input[type=date], #ingredientDiv textarea {
  border: 1px solid #AA948C;
  border-radius: 25px;
  background-color: #070D0D;
  color: #ecd0c6;
}
form label, #ingredientDiv label {
  margin: 1em 0 0 0;
}

#ingredientDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#ingredientDiv .fruitsss {
  display: flex;
  flex-direction: row;
}
#ingredientDiv .added, #ingredientDiv .fruit1, #ingredientDiv .fruit2, #ingredientDiv .ounces {
  display: flex;
  flex-direction: column;
}
#ingredientDiv .or {
  margin: 1.5em;
}

.ingredientspan {
  font-size: 2em;
  padding: 0.5em;
  color: white;
  font-weight: 700;
  font-style: normal;
}

.amountspan {
  color: #ecd0c6;
}

.added {
  border: 1px solid red;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

h1, h2, h3 {
  font-family: "nelson", sans-serif;
  font-weight: 400;
  color: #ecd0c6;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #ecd0c6;
  font-family: "monarcha", serif;
  font-size: 1em;
}
li a:hover {
  color: #AA948C;
}

p {
  color: #ecd0c6;
  font-size: 1.5em;
}

.buttonx {
  border-color: white;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  font-size: 1em;
  padding: 0.25em 0.5em;
  margin: 0 1em;
}
.buttonx:hover {
  cursor: pointer;
}

@keyframes gradient-animations {
  0% {
    background-position: 0 1000px;
  }
  100% {
    background-position: 1000px 0;
  }
}
.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #070D0D;
  width: 100vw;
  border-bottom: 3px solid #ecd0c6;
  z-index: 10;
  top: 0;
}
.header h1 {
  margin-left: 1em;
}
.header a {
  text-decoration: none;
  padding-right: 1.5em;
}
.header ul {
  display: flex;
  flex-direction: row;
}
.header ul li {
  justify-content: space-around;
  padding: 1em;
}

.glass {
  height: 100%;
  width: 100%;
  background-image: url(..img/woodtexture.jpg);
  background-size: cover;
  background-position: center;
  clip-path: inset(10em);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-shadow {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20em;
}
.drop-shadow:before {
  display: block;
  content: "";
  top: 10em;
  border-top: 2px solid rgba(225, 225, 225, 0.2);
  border-left: 1px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.3);
  z-index: 2;
}