/* COLORS */

$background-color: #070D0D;
$title-color: #181614;
$header-color: #ecd0c6;
$accent-color: #AA948C;
$color-one: #271407;
$color-two: #aa9a8c;


/* FONTS */

$header-font: "nelson", sans-serif;
$body-font: "monarcha", serif;
$font-one: "santelia-rough-two", sans-serif;



/* IMPORTS */

@import "partials/structure";
@import "partials/typography";
@import "partials/button";
@import "partials/animation";
@import "partials/header";
@import "partials/glass";
