/* COLORS */

$background-color: #070D0D;
$title-color: #181614;
$header-color: #ecd0c6;
$accent-color: #AA948C;

/* FONTS */

$header-font: "nelson-rugged", sans-serif;
$body-font: "monarcha", serif;


/* IMPORTS */

@import "partials/structure";
@import "partials/typography";
