.buttonx {
    border-color: white;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    margin: 3em 0;
    
    &:hover {
        cursor: pointer;
    }
}