body {
    background-image: url("../img/woodtexture.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.hero-title {
    display: flex;
    justify-content: center;
    background-image: url(../img/barrels-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    h1 {
        font-family: $header-font;
        font-size: 15em;
        color: $color-two;
    }
}

.input {
    width: 500px;
    margin: auto;
}

form, #ingredientDiv {
    margin: 0 auto;
    color: $header-color;
    font-family: $body-font;
    text-shadow: 3px 1px 10px black;
    font-weight: 300;

    input, textarea {
        box-sizing: border-box;
        display: block;
        width: 100%;
        font-size: 1em;
        line-height: 2em;
    }

    label, .or {
        font-size: 1em;
    }

    input[type="number"], input[type="text"], input[type="date"], textarea {
        border: 1px solid $accent-color;
        border-radius: 25px;
        background-color: $background-color;
        color: $header-color;
        margin-bottom: 1em;
        padding-left: .5em;
    }

}

#ingredientDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .fruitsss {
        display: flex;
        flex-direction: row;
    }

    .added, .fruit1, .fruit2, .ounces {
        display: flex;
        flex-direction: column;
    }

    .or {
        margin: 1.5em;
    }

}
.ingredientspan {
    font-size: 1em;
    padding: .5em;
    color: white;
    font-weight: 700;
    font-style: normal;
}

.amountspan {
    color: $header-color;
}

.added {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
}
